<div class="customBg p-5 text-center">
  <h1>Directives</h1>
  <!-- <p [class.successClass]="flag">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis a rerum
    possimus reprehenderit excepturi facilis accusamus, aperiam, laudantium
    natus hic architecto distinctio, pariatur iste officia laborum. Velit
    accusantium eveniet iste!
  </p> -->
  <!-- <p
    [ngClass]="{
      'bg-danger': color == 'red',
      'bg-primary': color == 'green'
    }"
  >
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis a rerum
    possimus reprehenderit excepturi facilis accusamus, aperiam, laudantium
    natus hic architecto distinctio, pariatur iste officia laborum. Velit
    accusantium eveniet iste!
  </p> -->
  <!-- <p *ngIf="flag; else ourDiv" class="bg-light p-3">Welcome From ITI</p>

  <ng-template #ourDiv>
    <h1>Sara</h1>
    <p class="bg-dark p-3 text-light">Hello mearn Track</p>
  </ng-template> -->

  <!-- <ng-container *ngIf="flag">
    <div *ngFor="let track of itiTracks" class="bg-light p-2 rounded m-3">
      <h2>{{ track }}</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit expedita
        fuga ipsum error rem voluptate sequi ipsa laborum? Aperiam saepe ad
        quisquam illum, incidunt expedita. Commodi veniam impedit iusto fugit.
      </p>
    </div>
  </ng-container> -->
  <!-- 
  <select class="mt-5 d-block" [(ngModel)]="selectedTrack" name="chooseTrack">
    <option *ngFor="let track of itiTracks">{{ track }}</option>
  </select>

  <div [ngSwitch]="selectedTrack">
    <ng-container *ngSwitchCase="'Mearn'">
      <h1>Mearn track ava..</h1>
      <ul>
        <li>Benha</li>
        <li>Smart</li>
      </ul>
    </ng-container>
    <ng-container *ngSwitchCase="'IOT'">
      <h1>IOT track ava..</h1>
      <ul>
        <li>Smart</li>
      </ul>
    </ng-container>
    <ng-container *ngSwitchCase="'DOTnet'">
      <h1>DotNet track ava..</h1>
      <p>Closed this round</p>
    </ng-container>
  </div> -->
  <!-- <div [ngSwitch]="color">
    <p *ngSwitchCase="'red'" class="bg-danger">Your Fav Color is : Red</p>
    <p *ngSwitchCase="'green'" class="bg-success">Your Fav Color is : green</p>
    <p *ngSwitchCase="'blue'" class="bg-primary">Your Fav Color is : blue</p>
    <p *ngSwitchDefault>You don't have any fav colors</p>
  </div> -->

  <!-- <p [style.color]="flag ? 'red' : 'green'">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel provident minus
    dicta ratione facilis delectus excepturi totam maiores soluta obcaecati amet
    modi, sunt, nulla distinctio! Perferendis architecto nesciunt nam
    recusandae.
  </p> -->
  <!-- <p
    [ngStyle]="{
      color: flag ? 'green' : 'red',
      backgroundColor: flag ? '#000' : '#fff'
    }"
  >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel provident minus
    dicta ratione facilis delectus excepturi totam maiores soluta obcaecati amet
    modi, sunt, nulla distinctio! Perferendis architecto nesciunt nam
    recusandae.
  </p> -->
  <!-- <button (click)="toggle()" class="btn btn-dark">Toggle</button> -->
</div>
