<div class="container mt-5">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Product Name</th>
          <th scope="col">Product Price</th>
          <th scope="col">Product quantity</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <th scope="row">{{ product.id }}</th>
          <td>{{ product.productName }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.quantity }}</td>
          <td>
            <i
              [routerLink]="['/products', product.id, 'edit']"
              class="mx-1 fs-4 text-info bi bi-pencil-square"
            ></i>
            <i
              [routerLink]="['/products', product.id]"
              class="mx-1 fs-4 text-warning bi bi-eye-fill"
            ></i>
            <i class="mx-1 fs-4 text-danger bi bi-trash3"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
