<!-- <app-header></app-header> <app-slider> </app-slider> -->

<!-- <app-products></app-products> -->
<div class="customBg p-5 text-light text-center">
  <h2>Hello Mearn Track</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta vitae
    asperiores distinctio doloremque, est cumque earum aliquid repudiandae
    eligendi possimus, enim officiis delectus? Reiciendis, iure velit
    consequuntur deserunt nam perferendis!
  </p>

  <!-- <img src="assets/imgs/{{ imgSrc }}" alt="" /> -->
  <img [src]="imgSrc2" alt="" />
  <button (click)="showNextImage()" class="btn btn-success mt-3">
    Show more
  </button>
</div>
