<!-- <div class="bg-light p-5 text-center">
  <h1>App Component</h1>
  <p>{{ componentTitle }}</p>
  <app-content [dataFromParenet]="componentTitle"></app-content>
</div> -->

<!-- <app-students></app-students> -->
<!-- <app-login (myEvent)="execute($event)"></app-login>
<app-content [childData]="dataFromLogin"></app-content>
<h1 class="alert alert-info">Data : {{ dataFromLogin }}</h1> -->

<!-- <h1>{{ componentTitle }}</h1>
<app-content [childData]="componentTitle"> </app-content>
<button class="btn btn-primary m-5" (click)="changeTitle()">
  Change Title
</button> -->
<app-register></app-register>
